*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    border:10px solid darkcyan;
    width:100vw;
    height:100vh;
}
.dialog{
    width:60%;
    height:60%;
    border:5px solid brown;
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)
}
.displayConversation{
    width:60%;
    height:70%;
    overflow-y:scroll;
    border:1px solid black;
}
.userMessage{
    border:1px double black;
    background-color: darken(skyblue, 10%);
}
.robotMessage{
    border:1px double black;
    background-color: lighten(crimson, 40%);
}
.underlineText{
    color:darkorange;
    -webkit-text-stroke:1px red;
}